* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1f1f1f, #2e2e2e);
    color: #f1f1f1;
    line-height: 1.7;
}

/* Container central */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Header */
header {
    background: linear-gradient(135deg, #4CAF50, #2e7d32);
    padding: 60px 0;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 3rem;
}

.subtitle {
    font-weight: 300;
    opacity: 0.9;
}

/* Seções */
.selection{
    margin: 60px 0;
}

h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    border-left: 5px solid #4CAF50;
    padding-left: 15px;
}
h3{
    border-left:5px solid #4CAF50;
    padding-left: 15px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 1.05rem;
}

/* Imagens */
img {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* Destaque */
blockquote {
    background: #333;
    padding: 25px;
    border-left: 5px solid #4CAF50;
    margin: 30px 0;
    border-radius: 10px;
    font-style: italic;
}

/* Footer */
footer {
    background: #111;
    padding: 30px 0;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.7;
}

/* Responsividade */
@media (max-width: 768px) {

    header h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p {
        font-size: 0.95rem;
    }

    section {
        margin: 40px 0;
    }

}